a:link {
  text-decoration:none;
}

p {
  font-family:arial;
}

h6 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #dddddd; 
  line-height: 0.1em;
  margin: 10px 0 20px;
}
h6 span { 
  background:#fff; 
  padding:0 10px; 
}

.quote {
  /* font-family: Arial, Helvetica, Geneva, Sans-serif, sans-serif; 
  background-color: rgb(255,255,204);
  */
  background-color: #FDFDFD;
  padding: 4px;
  padding-left: 15px;
  border: 1px  solid #dddddd; 
}

.quote2 {
  font-family: Arial, Helvetica, Geneva, Sans-serif, sans-serif; 
  background-color: #f3f3f3;
  border: solid 1px #999;
  padding: 10px;
  margin-left: 15px;
  color: #000;
}

.reply1 {
  font-family: Arial, Helvetica, Geneva, Sans-serif, sans-serif; 
  /*
  background-color: rgb(255,255,204);
  */
  /*
  background-color: #FDFDFD;
  border: 1px  dashed #dddddd; 
  */
  padding: 4px;
  padding-left: 15px;
  /*color: #789922;*/
  color: #8A2BE2;
}

.reply2 {
  padding: 4px;
  padding-left: 15px;
  /*color: #789922;*/
  color: #8A2BE2;
}

.reply3 {
  font-family: Arial, Helvetica, Geneva, Sans-serif, sans-serif; 
  padding: 4px;
  padding-left: 15px;
  /*color: #789922;*/
  color:#e00707;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  
  padding: 8px;
}


* {
  box-sizing: border-box;
}

.card1 {
  /*
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  */
  padding-left: 15px;
  border: 1px solid;
  border-color: #ccc;
  background-color: #ffffff;
}

.card2 {
  /*
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  */
  padding-left: 15px;
  border: 1px dotted;
  border-color: rgb(204 , 0 , 0);
  background-color: #FFFAFA;
}

.column {
  float: left;
  /*
  width: 50%;
  */
  width: 20%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.footnote1:before {
  color: #006400;
  content: ">  ";
}

.footnote1 {
  /* font-family: Arial, Helvetica, Geneva, Sans-serif, sans-serif; 
  background-color: rgb(255,255,204);
  */
  background-color: #FFFFFF;
  color: #006400;
  font-family: system-ui; 
  font-size: 14px;
  padding: 4px;
  padding-left: 15px;
  /*border: 1px  dotted #dddddd;*/
}